 {{!-- Footer --}}
     <footer>
        <div class="container">
            <div class="row py-3">
                {{!-- Social media --}}
                <div class="col">
                    <div class="logo_img mb-1"><img src="https://drive.google.com/uc?id=1A3VFZ3INGVeWkVpx7LOi8nfo2QdTsmhj" alt="logo icon" style="color:rgb(87, 65, 44);"> CookShare 2022 | All copyrights reserved</div>
                </div>
                <div class="col text-end">
                    <ul>
                        <li class="list-inline-item"><a href="/"><i class="fab fa-facebook-f" style="color:rgb(87, 65, 44);"></i></a></li>
                        <li class="list-inline-item"><a href="/"><i class="fab fa-youtube" style="color:rgb(87, 65, 44);"></i></a></li>
                        <li class="list-inline-item"><a href="/"><i class="fab fa-linkedin" style="color:rgb(87, 65, 44);"></i></a></li>
                        <li class="list-inline-item"><a href="/"><i class="fab fa-google-plus" style="color:rgb(87, 65, 44);"></i></a></li>
                        <li class="list-inline-item"><a href="/"><i class="fab fa-twitter" style="color:rgb(87, 65, 44);"></i></a></li>
                    </ul>
                </div>
                {{!-- End social media --}}
            </div>
        </div>
    </footer>
    {{!-- End footer --}}