{{> nonRegNavbar}}

<div class="container my-5">
       {{!-- Logo --}}
    <div class="row">
        <div class="col-12">
            <div class="logo text-center mb-5">
                <img src="https://drive.google.com/uc?id=1ikjbHt9ThIFHVtuIcWKrnAGQMc6SIhqE" alt="">
                <h1 id="site-title">CookShare</h1>
            </div>
        </div>
    </div>
    {{!-- Description --}}
    <div class="container">
         <div class="row">
            <div class="col-12 text-center">
                <p>Η CookShare είναι μία υπηρεσία κοινής χρήσης συνταγών της Ελλάδας, με χιλιάδες μηνιαίους μοναδικούς χρήστες, επιτρέποντας στους επισκέπτες να αναζητούν πρωτότυπες συνταγές που δημιουργήθηκαν από χρήστες/μέλη του δικτύου μαγειρικής, αλλά και όσοι από αυτούς επιθυμούν να εγγράφονται δωρεάν ώστε να εμπλουτίζουν με νέες και δημιουργικές συνταγές το δίκτυο.</p>
                <p>Η CookShare παρέχει την δυνατότητα στα εγγεγραμένα μέλη της να αναρτούν όσες συνταγές επιθυμούν καθώς και να αποθηκέυουν συνταγές άλλων μελών στο προσωπικό τους αποθετήριο.</p>
                <p>Ιδρύθηκε το 2021 από την εταιρεία CookShare, που αποτελεί μία εκ των μεγαλύτερων εταιρειών τεχνολογίας τροφίμων και σκοπεύει σταδιακά να επεκταθεί σε παγκόσμιο επίπεδο για πρόσβαση σε χρήστες οποιασδήποτε χώρας.</p>
            </div>
        </div>
    </div>
</div>


{{> footer}}