{{> nonRegNavbar}}

<div class="container my-5">
       {{!-- Logo --}}
    <div class="row">
        <div class="col-12">
            <div class="logo text-center mb-5">
                <img src="https://drive.google.com/uc?id=1ikjbHt9ThIFHVtuIcWKrnAGQMc6SIhqE" alt="">
                <h1 id="site-title">CookShare</h1>
            </div>
        </div>
    </div>
    {{!-- Description --}}
    <div class="container">
         <div class="row">
            <div class="col-12 text-center">
                <p>CookShare is a shared recipe service in many countries, with thousands of monthly unique users, allowing visitors to search for original recipes created by users / members of the cooking network, but also those who wish to register for free to enrich the network with new creative recipes.</p>
                <p>CookShare allows its registered members to post as many recipes as they wish as well as store other members' recipes in their personal recipe repository.</p>
                <p>It was founded in 2021 by CookShare, one of the largest food technology companies and intends to gradually expand globally for access to users in any country.</p>
            </div>
        </div>
    </div>
</div>


{{> footer}}