{{> regNavbar}}

<div class="container px-3 py-4">
    <div class="my-2">
        <h4><i class="fa-solid fa-pen-to-square"></i> Προσθήκη νέας συνταγής</h4>
        <div class="py-3">
            <form>
                <div class="form-group mb-2">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label><i class="far fa-list-alt mb-2"></i> Τίτλος συνταγής</label>
                            <input type="text" class="form-control form-control-sm" name="title" placeholder="Δώστε έναν τίτλο..." value="">
                        </div>
                        <div class="col-md-4">
                            <label><i class="fa-solid fa-folder-open"></i> Κατηγορία</label>
                            <select class="form-control form-control-sm" name="category" id="categories">
                                <option value="" selected disabled hidden>Επιλέξτε κατηγορία...</option>
                                <option value="breakfast" type="button">Πρωινό</option>
                                <option value="brunch" type="button">Brunch</option>
                                <option value="appetizer" type="button">Ορεκτικό</option>
                                <option value="main" type="button">Κυρίως Γεύμα</option>
                                <option value="dinner" type="button">Βραδινό</option>
                                <option value="sweet" type="button">Γλυκά</option>
                                <option value="savory" type="button">Αλμυρά</option>
                                <option value="drink" type="button">Ροφήματα</option>
                                <option value="snack" type="button">Snack</option>
                                <option value="kids" type="button">Παιδικά</option>
                                <option value="vegan" type="button">Vegan</option>
                                <option value="light" type="button">Πιάτα Light</option>
                                <option value="xmas" type="button">Χριστούγεννα</option>
                                <option value="easter" type="button">Πάσχα</option>
                            </select>
                        </div>
                         <div class="col-md-4">
                            <label><i class="fa-solid fa-bowl-rice"></i> Βασικό υλικό</label>
                            <select class="form-control form-control-sm" name="ingredient">
                                <option value="" selected disabled hidden>Επιλέξτε βασικό υλικό...</option>
                                <option value="pork" type="button">Χοιρινό</option>
                                <option value="chicken" type="button">Κοτόπουλο</option>
                                <option value="calf" type="button">Μοσχάρι</option>
                                <option value="lamb" type="button">Αρνί</option>
                                <option value="turkey" type="button">Γαλοπούλα</option>
                                <option value="sweet" type="button">Κατσίκι</option>
                                <option value="cheese" type="button">Τυρί</option>
                                <option value="rice" type="button">Ρύζι</option>
                                <option value="pasta" type="button">Ζυμαρικά</option>
                                <option value="legumes" type="button">Όσπρια</option>
                                <option value="fish" type="button">Ψάρι</option>
                                <option value="potato" type="button">Πατάτα</option>
                                <option value="egg" type="button">Αυγό</option>
                                <option value="milk" type="button">Γάλα</option>
                                <option value="butter" type="button">Βούτυρο</option>
                                <option value="oil" type="button">Λάδι</option>
                                <option value="tomato" type="button">Ντομάτα</option>
                                <option value="carrot" type="button">Καρότο</option>
                                <option value="eggplant" type="button">Μελιτζάνα</option>
                                <option value="zucchini" type="button">Κολοκύθι</option>
                                <option value="banana" type="button">Μπανάνα</option>
                                <option value="apple" type="button">Μήλο</option>
                                <option value="orange" type="button">Πορτοκάλι</option>
                                <option value="strawberry" type="button">Φράουλα</option>
                                <option value="honey" type="button">Μέλι</option>
                                <option value="tahini" type="button">Ταχίνι</option>
                                <option value="cocoa" type="button">Κακάο</option>
                                <option value="nuts" type="button">Ξηροί καρποί</option>
                                <option value="oats" type="button">Βρώμη</option>
                            </select>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-4">
                            <label><i class="fa-solid fa-clock mb-2"></i> Χρόνος</label>
                            <input type="number" class="form-control form-control-sm" name="time" placeholder="Χρόνος σε λεπτά" value="">
                        </div>
                        <div class="col-md-4">
                            <label><i class="fa fa-chart-simple mb-2"></i> Επίπεδο δυσκολίας</label>
                            <select class="form-control form-control-sm" name="level">
                                <option value="" selected disabled hidden>Επιλέξτε επίπεδο δυσκολίας...</option>
                                <option value="easy" type="button">Εύκολο</option>
                                <option value="medium" type="button">Μέτριο</option>
                                <option value="hard" type="button">Δύσκολο</option>
                            </select>
                        </div>
                          <div class="col-md-4">
                            <label><i class="fa fa-users mb-2"></i> Μερίδες</label>
                            <input type="number" min="0" class="form-control form-control-sm" name="portions" placeholder="Μερίδες" value="">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="mb-4">
        <h4 class="pt-2"> Περιγραφή συνταγής</h4>
        <div class="py-2">
            <div class="mb-2">
                <textarea class="form-control" placeholder="Γράψτε τα υλικά και τις οδηγίες της συνταγής..." name="description" rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label><i class="far fa-images mb-2"></i> Εικόνα URL</label>
                    <input type="text" class="form-control form-control-sm" name="img" placeholder="http://www." value="">
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="all-buttons btn btn-lg btn-secondary">Προσθήκη συνταγής</a>
   
</div>

{{> footer}}