{{> regNavbar}}

<div class="container px-3 py-4">
    <div class="my-2">
        <h4><i class="fa-solid fa-pen-to-square"></i> Προσθήκη νέας συνταγής</h4>
        <div class="py-3">
            <form action="/regAddRecipe" method="POST">
                <div class="form-group mb-2">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label><i class="far fa-list-alt mb-2"></i> Τίτλος συνταγής</label>
                            <input type="text" class="form-control form-control-sm" name="title" placeholder="Δώστε έναν τίτλο..." value="">
                        </div>
                        <div class="col-md-4">
                            <label><i class="fa-solid fa-folder-open"></i> Κατηγορία</label>
                            <select class="form-control form-control-sm" name="category" id="categories">
                                <option value="" selected disabled hidden>Επιλέξτε κατηγορία...</option>
                                {{#each category}}
                                    <option value="breakfast" type="button">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                         <div class="col-md-4">
                            <label><i class="fa-solid fa-bowl-rice"></i> Βασικό υλικό</label>
                            <select class="form-control form-control-sm" name="ingredient">
                                <option value="" selected disabled hidden>Επιλέξτε βασικό υλικό...</option>
                                {{#each ingredient}}
                                    <option value="pork" type="button">{{this.ingredient_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-4">
                            <label><i class="fa-solid fa-clock mb-2"></i> Χρόνος</label>
                            <input type="number" class="form-control form-control-sm" name="time" placeholder="Χρόνος σε λεπτά" value="">
                        </div>
                        <div class="col-md-4">
                            <label><i class="fa fa-chart-simple mb-2"></i> Επίπεδο δυσκολίας</label>
                            <select class="form-control form-control-sm" name="level">
                                <option value="" selected disabled hidden>Επιλέξτε επίπεδο δυσκολίας...</option>
                                {{#each level}}
                                    <option value="easy" type="button">{{this.level}}</option>
                                {{/each}}
                            </select>
                        </div>
                          <div class="col-md-4">
                            <label><i class="fa fa-users mb-2"></i> Μερίδες</label>
                            <input type="number" min="0" class="form-control form-control-sm" name="portions" placeholder="Μερίδες" value="">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="mb-4">
        <h4 class="pt-2"> Περιγραφή συνταγής</h4>
        <div class="py-2">
            <div class="mb-2">
                <textarea class="form-control" placeholder="Γράψτε τα υλικά και τις οδηγίες της συνταγής..." name="description" rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label><i class="far fa-images mb-2"></i> Εικόνα URL</label>
                    <input type="text" class="form-control form-control-sm" name="img" placeholder="http://www." value="">
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="all-buttons btn btn-lg btn-secondary" value="Προσθήκη συνταγής"/>
   
</div>

{{> footer}}