{{> regNavbar}}

<div class="container px-3 py-4">
    <div class="my-2">
        <h4><i class="fa-solid fa-pen-to-square"></i> Add new recipe</h4>
        <div class="py-3">
            <form method="POST">
                <div class="form-group mb-2">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label><i class="far fa-list-alt mb-2"></i> Recipe title</label>
                            <input type="text" class="form-control form-control-sm" name="title" placeholder="Give a title..." value="">
                        </div>
                        <div class="col-md-4">
                            <label><i class="fa-solid fa-folder-open"></i> Category</label>
                            <select class="form-control form-control-sm" name="category" id="categories">
                                <option value="" selected disabled hidden>Select category...</option>
                                {{#each category}}
                                    <option value="breakfast" type="button">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                         <div class="col-md-4">
                            <label><i class="fa-solid fa-bowl-rice"></i> Basic ingredient</label>
                            <select class="form-control form-control-sm" name="ingredient">
                                <option value="" selected disabled hidden>Select basic ingredient...</option>
                                {{#each ingredient}}
                                    <option value="pork" type="button">{{this.ingredient_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-4">
                            <label><i class="fa-solid fa-clock mb-2"></i> Time</label>
                            <input type="number" class="form-control form-control-sm" name="time" placeholder="Time in minutes" value="" min="0">
                        </div>
                        <div class="col-md-4">
                            <label><i class="fa fa-chart-simple mb-2"></i> Difficulty level</label>
                            <select class="form-control form-control-sm" name="level">
                                <option value="" selected disabled hidden>Select difficulty level...</option>
                                {{#each level}}
                                    <option value="easy" type="button">{{this.level}}</option>
                                {{/each}}
                            </select>
                        </div>
                          <div class="col-md-4">
                            <label><i class="fa fa-users mb-2"></i> Portions</label>
                            <input type="number" min="0" class="form-control form-control-sm" name="portions" placeholder="Portions" value="">
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <h4 class="pt-2"> Recipe's description</h4>
                    <div class="py-2">
                        <div class="mb-2">
                            <textarea class="form-control" placeholder="Write the recipe's ingredients and directions..." name="description" rows="8"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label><i class="far fa-images mb-2"></i> Image URL</label>
                                <input type="text" class="form-control form-control-sm" name="img" placeholder="http://www." value="">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="all-buttons btn btn-lg btn-secondary" href="/regAddRecipe">Add recipe</button>
                </div>
            </form>
        </div>
    </div>

{{> footer}}