{{> regNavbar}}

<div class="container my-5">
    {{!-- Logo --}}
    <div class="row">
        <div class="col-12">
            <div class="logo text-center mb-5">
                <img src="https://drive.google.com/uc?id=1ikjbHt9ThIFHVtuIcWKrnAGQMc6SIhqE" alt="">
                <h1 id="site-title">CookShare</h1>
            </div>
        </div>
    </div>
    {{!-- Contact --}}
    <div class="container">
         <div class="row">
            <div class="col-12 text-center">
                <h4>Επικοινωνία με την ομάδα της CookShare</h4>
                <p>Για οποιοδηποτε κώλυμα απευθυνθείτε στα παρακάτω τηλέφωνα:</p>
                <p>210-2343106 ή 210-2533109</p>
                <p>Εναλλακτικά, επικοινωνήστε μαζί μας μέσω e-mail στο info-gr@cookshare.com</p>
            </div>
        </div>
    </div>
</div>

{{> footer}}