{{> regNavbar}}

<div class="container my-5">
    {{!-- Logo --}}
    <div class="row">
        <div class="col-12">
            <div class="logo text-center mb-5">
                <img src="https://drive.google.com/uc?id=1ikjbHt9ThIFHVtuIcWKrnAGQMc6SIhqE" alt="">
                <h1 id="site-title">CookShare</h1>
            </div>
        </div>
    </div>
    {{!-- Contact --}}
    <div class="container">
         <div class="row">
            <div class="col-12 text-center">
                <h4>Contact the CookShare team</h4>
                <p>For any obstacle, contact the following telephone numbers:</p>
                <p>210-2343106 or 210-2533109</p>
                <p>Alternatively, contact us by email at info-gr@cookshare.com</p>
            </div>
        </div>
    </div>
</div>

{{> footer}}