{{> regNavbar}}

{{!-- Recipe area --}}
<div  id="recipe-area" class="container">
    <div class="card">
        <div class="recipe-info">
            <div class="row">
                <div class="col d-flex justify-content-around py-3">
                    <i class="fa-solid fa-clock"> 40 λεπτά</i>
                    <i class="fa fa-users"> 2 μερίδες</i>
                    <i class="fa fa-chart-simple"> Εύκολο</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pb-3">
                <img id="card-img" src="https://drive.google.com/uc?id=1DpYd27NlHl8YOxN1flccZfyZemfB1ps9" alt="">
            </div>
        </div>
        <h1 class="title text-center">Αφράτα pancakes με καρύδα</h1>
        <hr>
        <div class="row">
                <div class="col d-flex justify-content-start mx-2">
                    <div class="rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                </div>    
            <div class="col d-flex justify-content-end mx-2" id="recipe-save"><a href="#"><i class="fa fa-heart"> Αποθήκευση</i></a></div>
        </div>
        <hr>
        <div class="row">
            <div class="col mx-2 mb-3">
                <h3>Υλικά</h3>
                <ul>
                    <li><strong>40 γρ.</strong> βρώμη</li>
                    <li><strong>30 γρ.</strong> καρύδα τριμμένη αποξηραμένη</li>
                    <li><strong>60 ml</strong> γάλα(οποιοδήποτε της αρεσκείας σας)</li>
                    <li><strong>2 κ.γλ.</strong> baking powder</li>
                    <li><strong>2</strong> αυγά</li>
                    <li><strong>2 κ.σ.</strong> αλεύρι</li>
                    <li><strong>1/4 κ.γλ.</strong> αλάτι</li>
                </ul>
                <h4>Γαρνίρισμα</h4>
                <ul>
                    <li><strong>2 κ.σ.</strong> μέλι</li>
                    <li><strong>6 κ.σ.</strong> φρούτα του δάσους(κατεψυγμένα ή μη)</li>
                </ul>
                <h3>Εκτέλεση</h3>
                <ol>
                    <li>Βάζουμε όλα τα υλικά στο multi και χτυπάμε για 1 λεπτό.</li>
                    <li>Σε ένα αντικολλητικό τηγάνι βάζουμε ελάχιστη λιπαρή ουσία και καθαρίζουμε με ένα χαρτί.</li>
                    <li>Βάζουμε το τηγάνι σε δυνατή φωτιά και μόλις ζεσταθεί,παίρνουμε με 1 κουτάλι σούπας μείγμα και το τοποθετούμε προσεκτικά.Σκεπάζουμε το τηγάνι με μεγάλο καπάκι και χαμηλώνουμε τη φωτιά σε μέτρια.</li>
                    <li>Αφήνουμε 1 λεπτό την κάθε πλευρά του pancake και  αποσύρουμε.</li>
                    <li>Για το γαρνίρισμα, σε ένα τηγάνι βάζουμε το μέλι και τα φρούτα σε χαμηλή φωτιά.Αφήνουμε για 2 λεπτά εως ότου μαλακώσουν.</li>
                    <li>Τοποθετούμε πάνω από τα pancakes και ρίχνουμε λίγη καρύδα στο τέλος.</li>
                </ol>
                <hr>
                <div><i class="fas fa-user-circle"></i> mary123</div>
            </div>
        </div>
    </div>
     {{!-- Reviews --}}
     <div class="reviews my-3">
        <div class="row">
            <div class="col my-3">
                <h4><i class="far fa-star"></i> Κριτικές &amp; Αξιολόγηση</h4>
                <hr>
                <ul class="commentlist mx-3">
                    <li>
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <div class="user-comment"><i class="fas fa-user-circle"></i> Spiridoula.vas12</div>
                                <span class="date">15 Ιουλίου, 2016</span>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-start pb-3">
                                    <div class="rating-comments">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Πολύ εύκολη συνταγή! Την δοκίμασα εχθές για πρωινό και ενθουσιάστηκα.</p>
                    </li>
                    <hr>
                    <li>
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <div class="user-comment"><i class="fas fa-user-circle"></i> Andrew Georg</div>
                                <span class="date">23 Ιουνίου, 2016</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-start pb-3">
                                <div class="rating-comments">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <p>Θα προτιμούσα να μην είχε καρύδα. Κατά τα άλλα ήταν νόστιμα.</p>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- Add comment --}}
        <div class="add-comment">
            <div class="row">
                <div class="col pb-4 px-5">
                    <form>
                        <input type="text" id="comment" name="comment" placeholder="Πρόσθεσε ένα σχόλιο..." value="">
                        <input type="submit" value="Υποβολή">
                    </form>
                </div>
            </div>
        </div>
        {{!-- End add comment --}}
    </div>
    {{!-- End reviews --}} 
        
</div>
{{!-- End recipe area --}}

{{> footer}}