{{> nonRegNavbar}}

<div class="container px-5 py-5 my-5">
        <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                <div id="sign-in-card" class="card mb-5">
                    <ul class="nav nav-pills pb-4" id="pills-tab" role="tablist">
                        <li id="navig-item" class="nav-item navleft text-center">
                            <a class="nav-link active btl" id="navigator-left" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Σύνδεση</a>
                        </li>
                        <li id="navig-item" class="nav-item navright text-center">
                            <a class="nav-link btr" id="navigator-right" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Εγγραφή</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <form name="login" class="sign-in-form px-5 py-3">
                                <input type="text" name="user-email" class="form-control" placeholder="Email" value="" required="required">
                                <input type="password" name="user-password" class="form-control my-2" placeholder="Κωδικός" value="" required="required">
                                <a class="all-buttons btn btn-secondary btn-block mt-3" href="/regHome" role="button">Σύνδεση</a>
                            </form>
                        </div>
        
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <form name="register" class="sign-in-form px-5 py-3">
                                <input type="text" name="name" class="form-control" placeholder="Όνομα" value=""  required="required">
                                <input type="text" name="surname" class="form-control my-2" placeholder="Επώνυμο" value=""  required="required">
                                <input type="text" name="alias" class="form-control" placeholder="Ψευδώνυμο" value=""  required="required">
                                <input type="text" name="email" class="form-control my-2" placeholder="Email" value=""  required="required">
                                <input type="password" name="user-password" class="form-control" placeholder="Κωδικός" value=""  required="required">
                                <a class="all-buttons btn btn-secondary btn-block mt-3" href="/regHome" role="button">Εγγραφή</a>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>    
    </div>

{{> footer}}